.hero {
    padding: 20px;
    margin: 0 20px;
}

.featured-post {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr;
    grid-template-rows: 0.5fr 1fr 2fr 2fr 1fr 0.5fr;
    /* grid-template-areas:
        "sidebar image image image header"
        "test image image content content"
        "three image image image footer"; */
    height: 600px;
}

.featured-slide-banner {
    grid-area: 2/1/6/6;
    width: 100%;
    /* position: absolute; */
    background: #f8f8f8;
    height: 500px;
    /* z-index: -10; */
    /* top: 30px; */
}

.featured-header {
    grid-area: 5/ 1/ 7/2;
    /* background-color: lawngreen; */
}

.featured-image {
    grid-area: 1 / 2 / 7 /5;

    width: 950px;
    height: 100%;
    /* max-width: 100%; */
    /* height: auto; */
    object-fit: cover;
}

.featured-content {
    grid-area: 3 / 4 / 5/6;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    align-self: top;
    justify-self: center;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.featured-content h3 {
    font-size: 28px;
    margin: 10px 0;
}

.featured-button {
    grid-area: 5 /5 / 6/ 6;
    color: white;
    background-color: black;
    border: none;
    width: 40%;
    height: 60px;
    align-self: top;
    justify-self: end;
    font-family: "Raleway", sans-serif;
    margin: 10px 0;
}
