header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    /* height: 80px; */
    z-index: 10;
    background: transparent;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.logo {
    margin: 10px;
    /* height: 70px; */
    /* width: 400px; */
    text-align: center;
    font-family: "Abril Fatface", cursive;
    color: rgb(255, 61, 26);
    /* font-family: "Rock Salt", cursive; */
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

header .menu-icon {
    height: 50px;
    width: 50px;
    background-color: lawngreen;
    display: flex;
    align-self: center;
    justify-self: center;
}

header .logo {
    grid-area: 1/1/2/2;
}

@media only screen and (min-width: 767px) {
    header {
        grid-template-columns: 5fr 2fr 5fr;
        justify-content: space-around;
    }
    header .logo {
        grid-area: 1/2/2/3;
    }
    header .menu-icon {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    header {
        grid-template-columns: 1fr 3fr 1fr 2fr 1fr 3fr 1fr;
        justify-content: space-around;
    }
    header .logo {
        grid-area: 1/4/2/5;
    }
    header .menu-icon {
        display: none;
    }
}
