@import "./pages/index.css";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap");

:root {
    font: 18px/1.2 "Raleway", sans-serif;
}

body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}

h1,
h2,
h3 {
    font-family: "Abril Fatface", cursive;
}

h4,
a,
p {
    font-family: "Raleway", sans-serif;
}
